<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Step 1 -->
	<!-- Add Support for component scan it will scan all base packages under 
		this base package -->
	<context:component-scan
		base-package="com.web.customer.tracker" />

	<!-- Step 2: add some extra feature and formatting -->
	<mvc:annotation-driven />


	<!-- Step 3:Internal Resource View Resolver -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />

	</bean>

	<!-- Step 4: datasource information -->

	<bean id="myDataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close">
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />
		<property name="minPoolSize" value="${minPoolSize}" />
		<property name="maxPoolSize" value="${maxPoolSize}" />

	</bean>

	<!-- step 5 Hibernate SESSION Factory information so that it can communicate 
		with database -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

		<property name="dataSource" ref="myDataSource" />
		<property name="packagesToScan"
			value="com.web.customer.tracker" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>

		</property>

	</bean>


	<!-- step 6: for transaction support in hibernate -->

	<bean id="myTransactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />


	</bean>
	<!-- step:7 :for using special annotaion @transactional -->
	<tx:annotation-driven
		transaction-manager="myTransactionManager" />

	<!-- for reading database properties form jdbc config properties file -->
	<context:property-placeholder
		location="classpath:jdbc.properties" />

	<!-- add configuration for css file or web resources -->

	<mvc:resources location="/resources/"
		mapping="/resources/**"></mvc:resources>


</beans>





